<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /energia_renovavel/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /energia_renovavel/index.html [L]
</IfModule>